@use 'sass:color';
@import 'reset';

@mixin defineColor($name, $hex, $amount) {
  --color-#{$name}: #{$hex};
  --color-#{$name}-darker: #{darken($hex, $amount)};
}
$darkenAmount: 20%;
:root {
  @include defineColor(clean, #fff, $darkenAmount);
  @include defineColor(primary, #2077ed, $darkenAmount);
  @include defineColor(secondary, #8c8c8c, $darkenAmount);
  @include defineColor(success, #6ab925, $darkenAmount);
  @include defineColor(danger, #ff4747, $darkenAmount);
  @include defineColor(warning, #f3af33, $darkenAmount);
  @include defineColor(info, #17639e, $darkenAmount);
  @include defineColor(text-primary, #2f2f2f, $darkenAmount);
  @include defineColor(text-secondary, #535353, $darkenAmount);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
