@import "../../util.scss";

$dropdownArrowSize: 5px;

.dropdown {
  margin: 10px 5px;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  @extend .noselect;
  .arrow {
    margin-left: 5px;
    position: relative;
    top: $dropdownArrowSize;
    width: 0;
    height: 0;
    border-left: $dropdownArrowSize solid transparent;
    border-right: $dropdownArrowSize solid transparent;
  }
  ul {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    li button {
      margin: 0;
      width: 100%;
    }
  }
  &--open {
    .arrow {
      border-bottom: $dropdownArrowSize solid black;
    }
    ul {
      display: block;
    }
  }
  &--closed {
    .arrow {
      border-top: $dropdownArrowSize solid black;
    }
    ul {
      display: none;
    }
  }
}